body {
  width: 100%;
  margin: auto;
  background: #ff4b1f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ff4b1f, #1fddff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ff4b1f, #1fddff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.color-grad {
  background: #ff4b1f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ff4b1f, #1fddff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ff4b1f, #1fddff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main {
  margin-top: -1em;
  min-height: 950px;
}

.content {
  height: 100%;
}
.top-block {
  margin: auto;
}
.featured-container {
  margin: 2em 0 -4em 0;
}
.car {
  width: 400px;
}
.slider {
  margin-top: 4em;
}
.footer-text {
  width: 75%;
  margin: auto;
  padding-top: 2em;
  text-align: center;
  color: white;
  font-size: 1em;
}
.logo {

  margin: .8em 0 0 -.4em ;
}
.logo img {
  display: inline;
  margin-top: -0.4em;
  animation: Logo-Img-spin infinite 10s linear;
  pointer-events: none;

}

.logo p {
  margin-left:.5em;
  display: inline;
  color: ghostwhite;
  text-decoration: none;
}
.avatar {
  width: 400px;
  margin: auto;
}

.avatar img {
  height: 400px;
  padding: 5em;
}
.banner-text, .projects-featured {
  width: 75%;
  margin: auto;
  padding: .5em;
  opacity: .8;
  border-radius: 1em;
}
.banner-text {
  background-color: #000;
}
.banner-text h1 {
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  color: white;
}

.banner-text .arrow {
  text-align: center;
  font-size: 3em;
  color: white;
}

.banner-text p {
  text-align: center;
  color: white;
  font-size: 1.4em;
  padding: 1em;
}

.social-links {
  text-align: center;
  font-size: 5em;
}
.social-links a {
  color: white;
}

.top-right-collapse {
  display: none;
}
.top-right-text, .footer-text {
  color: ghostwhite;
}

.nav-right-links {
  margin-right: 2em;
}

.link {
  color: ghostwhite !important;
  margin: .5em;
}
@media only screen and (max-width: 1000px) {
  .nav-right-links, .top-right-text {
    display: none;
  }
  .top-right-collapse {
    display: block;
    color: ghostwhite;
  }
}

.card, .list-group, .list-group-item {
  background-color: #212529; }
/* .card-header, .card-footer { opacity: 1} */
.card-title, .card-text, .card-footer,.list-group-item {
color: ghostwhite;

}
.about-img {
  width: 400px;
  height: 500px;
  border-radius: 50%;
}

.buttons {
  margin: 1em 1em 0 0;
  color: ghostwhite;

}

@media only screen and (max-width: 600px) {
  body {
    height: 600px;
  }
  main {
    min-height: 600px;
  }

  .banner-text h1 {
    font-size: 5em;
  }
  .featured-project {
    /* margin-top: 12em; */
  }
}

@keyframes Logo-Img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
